body {
    font-family: Oswald, sans-serif !important;
    background-color: #1c2842 !important;
    display: block;
    height: 100vh;
}

.App {
    height: 100%;
    width: 100%;
}

#app-header {
    height: 5rem;
    background-color: #f0e5de;
    width: 100%;
    border-bottom: #73303c 3px solid;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

#app-header p {
    text-align: right;
    color: #73303c;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-right: 1rem;
}

#statistics-container {
    width: 100%;
    padding: 1rem;
    display: inline-flex;
    justify-content: space-evenly;
    align-content: center;
    background-color: #1c2842;
}

.stat-card {
    font-size: 1rem;
    text-align: center;
    width: 30%;
    border-radius: .5rem;
    overflow: hidden;
    border: #73303c 3px solid;
}

.stat-card-header {
    background-color: #1c2842;
    height: 2rem;
    color: #f0e5de;
    padding: .25rem;
}

.stat-card-body {
    background-color: #f0e5de;
    height: auto;
    padding: .2rem 1rem;
    color: #1c2842;
    font-weight: bold;
}

#date-inputs-wrapper {
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
}

.label-input {
    color: #f0e5de;
    margin-right: .5rem;
}

.date-input {
    border-radius: .5rem;
    padding: .5rem 1rem;
    background-color: #73303c;
    color: #f0e5de;
    outline: none;
    border: #f0e5de 1px solid;
}

.date-input:hover {
    box-shadow: #f0e5de 0 0 1rem;
    text-shadow: #f0e5de 0 0 .5rem;
}

.date-input:focus {
    box-shadow: #f0e5de 0 0 .5rem;
}

.date-input:focus + .label-input {
    text-shadow: #f0e5de 0 0 .5rem;
}

#graphs-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    padding: 2rem 0;
    background-color: #1c2842;
    background-size: cover;
}

.chart-wrapper {
    color: #1c2842;
    text-align: center;
    border-radius: 1rem;
    height: 500px;
    width: 90%;
    background-color: #f0e5de;
    z-index: 10;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.2);
    margin: 2rem auto;
    padding-bottom: 5rem;
}

.chart-title {
    color: #1c2842;
    padding-top: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
}

.recharts-default-tooltip {
    background-color: #f3eae5 !important;
    text-align: left !important;
    border: #1c2842 1px solid !important;
    color: #1c2842;
    border-radius: .5rem;
    box-shadow: #1c2842 0 0 .25rem;
}

#copyright {
    color: #1c2842;
    height: 2rem;
    background: #f0e5de;
    width: 100%;
    font-size: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: #1c2842 1px solid;
    box-shadow: 0 0 1rem #1c2842;
}

a {
    color: #73303c !important;
    text-decoration: none !important;
    margin-left: 3px;
    cursor: pointer !important;
}

.loading-wrapper {
    width: 100%;
    display: flex;
    margin: 20% auto;
    justify-content: center;
    position: relative;
    color: #f0e5de;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 5rem;
    height: 5rem;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #f0e5de;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
