* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: background-color 500ms ease-out, color 500ms ease-in;
}

body {
    --darker: #141d30;
    --dark: #1c2842;
    --light: #f3eae5;
    --second-graph-color: #3c79b4;
    background-color: var(--dark);
    height: 100vh;
}

.App {
    height: 100%;
    width: 100%;
    font-family: Oswald, sans-serif;
    background-color: var(--dark);
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: space-between;
    justify-items: stretch;
}

#toggleTheme {
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 2rem;
    left: 5rem;
    background-color: var(--dark);
    color: var(--light);
    border: unset;
    border-radius: 1rem;
    cursor: pointer;
}

#app-header {
    height: 6rem;
    background-color: var(--darker);
    width: 100%;
}

#app-header p {
    text-align: right;
    color: var(--light);
    font-size: 1.5rem;
    padding: 2rem 5rem;
}

#statistics-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    background-color: var(--dark);
    padding: 0 5rem;
}

.stat-card {
    font-size: 1rem;
    text-align: center;
    border-radius: .5rem;
    overflow: hidden;
    border: var(--darker) 1px solid;
}

.stat-card-header {
    background-color: var(--darker);
    color: var(--light);
    padding: .75rem;
}

.stat-card-body {
    background-color: var(--dark);
    background-size: auto;
    padding: .5rem 1rem;
    color: var(--light);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#date-inputs-wrapper {
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
}

.input-wrapper {
    display: flex;
    align-items: center;
    border: var(--darker) 1px solid;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.label-input {
    color: var(--light);
    margin-right: .5rem;
    width: fit-content;
}

.date-input {
    font-family: Oswald, sans-serif;
    font-size: 1.2rem;
    background-color: var(--dark);
    color: var(--light);
    outline: none;
    border: none;
    cursor: pointer;
    width: fit-content;
    display: inline-block;
    position: relative;
    transform: translateY(2px);
}

.date-input::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    height: 2px;
    width: 100%;
    background-color: var(--light);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in-out;
}

.date-input:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

#graphs-container {
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    background-color: var(--dark);
    background-size: cover;
}

.chart-wrapper {
    color: var(--dark);
    text-align: center;
    border-radius: 1rem;
    height: 500px;
    width: calc(100% - 10rem);
    background-color: var(--darker);
    z-index: 10;
    margin: auto;
    padding-bottom: 2rem;
}

.chart-title {
    color: var(--light);
    padding-top: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
}

.recharts-default-tooltip {
    background-color: var(--darker) !important;
    text-align: left !important;
    border: var(--light) 1px solid !important;
    color: var(--light);
    border-radius: .5rem;
    box-shadow: var(--darker) 0 0 1rem;
}

#copyright {
    color: var(--light);
    height: 4rem;
    background: var(--darker);
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5rem;
}

a {
    color: var(--light) !important;
    text-decoration: none !important;
    margin-left: 3px;
    cursor: pointer !important;
    font-weight: bold;
}

.loading-wrapper {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    color: var(--darker);
}

.light div:after {
    background: var(--light);
}

.dark div:after {
    background: var(--darker);
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
