body {
  background: url(images/blue-covid-banner.jpg) no-repeat center center fixed;
  background-size: cover;
}

.App {
  height: 100%;
}

#app-header {
  height: 50px;
  background-color: #333;
  width: 100%;
  float: left;
  position: fixed;
  top: 0;
  font-family: Impact, Charcoal, sans-serif;
  font-weight: bold;
  color: #ffffff;
  z-index: 10;
  border-bottom: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 3000px){
  #app-header {
    font-size: 2em;
  }
}

@media all and (max-width: 700px){
  #app-header {
    font-size: 1.5em;
  }
}

@media all and (max-width: 300px){
  #app-header {
    font-size: 1em;
  }
}

#app-header-logo {
  height: 50px;
  padding-right: 20px;
  position: fixed;
  top: 0;
  left: 10px;
  filter: invert();
}

#statistics-container {
  margin-top: 70px;
  padding: 0 50px;
  width: 100%;
}

#graphs-container {
  padding: 2em 50px 0;
  width: 100%;
  margin-bottom: 50px;
}

.loading-wrapper {
  margin-top: 60px;
  padding: 0 49%;
  width: 100%;
  color: #ffffff;
}

.row-caption {
  font-size: 25px;
  font-family: Impact, Charcoal, sans-serif;
  color: #ffffff;
  margin-top: 1em;
  margin-bottom: 5px;
}

.information-card {
  font-size: 20px !important;
  font-family: Impact, Charcoal, serif;
  font-weight: lighter;
  color: #000000;
  min-width: 200px !important;
  margin: 20px;
}

.chart-wrapper {
  margin-top: 2em;
  color: #fff;
  margin-bottom: 2em;
  background-color: #333;
  text-align: center;
  border-radius: 15px;
  border: 2px solid #fff;
  font-family: Impact, Charcoal, serif;
  font-weight: lighter;
}

.recharts-default-tooltip {
  background-color: #222 !important;
  text-align: left !important;
}

#copyright {
  text-align: center;
  justify-content: center;
  color: #ffffff;
  bottom: 0;
  height: 50px;
  background: #333;
  width: 100%;
  position: fixed;
  font-family: Impact, Charcoal, sans-serif;
  border-top: 2px solid #fff;
}